<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body background="1.jpeg" link="#000" alink="#017bf5" vlink="#000">

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="home" class="w3-button w3-bar-item">Home</a>
  <a href="attendance" class="w3-button w3-bar-item">Attendance</a>
  <a href="about" class="w3-button w3-bar-item">About</a>
  <a href="contact" class="w3-button w3-bar-item">Contact</a>
</nav>
<h1 style="background-color:Tomato;">About The Course: </h1>

<h2 style="background-color:Tomato;">The participants, all of whom have degrees in computer science, entered an intensive 4-month training period under the guidance of Binat's DevOps experts.
At the end of the practical training, the graduates who successfully pass all the tests will get an opportunity to integrate into DevOps positions in Bint and start their career in the high-tech world!
during the course the students will learn about various morden technologies Like: Jenkins, AWS, Linux etc.. </h2>

<a style="background-color:Tomato" href=https://www.bynet.co.il>Bynets Website</a>

</body>
</html>
